name: Deploy

on:
    workflow_dispatch:

jobs:
    build-docker-image:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: .

        steps:
          - name: Checkout repository
            uses: actions/checkout@v3

          - name: Build docker image
            run: docker build -t ${{secrets.DOCKER_USERNAME}}/mello .

          - name: Log into Docker and upload image
            env: 
              DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
              DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
            run: |
              echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
              docker push ${{secrets.DOCKER_USERNAME}}/mello
    # deploy:
    #   runs-on: ubuntu-latest
    #   steps:
    #     - name: SSH into VPS, pull docker image and run the image
    #       uses: appleboy/ssh-action@master
    #       with:
    #         host: ${{ secrets.PROD_SSH_HOST }}
    #         username: ${{ secrets.PROD_SSH_USER }}
    #         password: ${{ secrets.VPS_PASSWORD }}
    #         script: |
    #           echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    #           docker stop Mello
    #           docker rm Mello
    #           docker pull ${{ secrets.DOCKER_USERNAME }}/mello:latest
    #           docker run -d --restart=always \
    #           -p 127.0.0.1:4001:8080 \
    #           --name Mello \
    #           ${{ secrets.DOCKER_USERNAME }}/mello:latest
