name: Tofu Apply

on:
    push:
      branches:
        - main
    pull_request:
      types: [opened, synchronize, reopened]
    workflow_dispatch:

jobs:
  tofu:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-east-1"

      - name: Setup Tofu
        uses: opentofu/setup-opentofu@v1

      - name: Tofu Apply
        run: |
          cd tofu
          tofu init
          tofu refresh
          tofu validate
          tofu apply -auto-approve
